<!DOCTYPE html>
<html>
	<head>
		<meta
		charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
		<meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
		<title>Hello World! 1</title>
	</head>
	<body>
		<h1>{{ message }}</h1>
		<button id="myButton" type="button">{{message}}</button>
	</body>
	<script src="./routes.js"></script>
	<script src="./index.js"></script>
</html>
